/* this file includes all the graphic holds upon the Hangboard ,
 because its a fairly massive code file i decided to set this apart on a different file 
rather than include it with all the main pages styles.*/
/*DeviceGrid*/
#containerDevice
{
display:grid;
max-width:  100%;
position: relative;
grid-template-areas: 
'Air Air Air Air Air Air Air Air Air Air '
'H1 H1 H2 H2 H3 H4 H5 H5 H6 H6'
'H1 H1 H2 H2 H7 H8 H5 H5 H6 H6'
'H9 H10 H11 H12 H13 H14 H15 H16 H17 H17'
'H18 H19 H20 H21 H22 H23 H24 H25 H26 H26'
;
}
.holds{visibility:hidden;}
.holds img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
/* Device Holds*/
/* Big Side Slopes*/
#H1,#H2,#H5,#H6{height:17.5vh;width : 25vh;}
/*UpSlopes*/
#H3,#H4{height: 7.5vh;}
/*UpPockets*/
#H7,#H8{height: 10vh;}
/*Top Center part*/
#H3,#H4,#H7,#H8{width :18.75vh;}
/*2nd and */
#H9,#H10,#H11,#H12,#H13,#H14,#H15,#H16,#H17{height: 10vh;}
/*3rd line*/
#H18,#H19,#H20,#H21,#H22,#H23,#H23,#H24,#H25,#H26{height: 15vh;}
/*Mono*/
#H10,#H16,#H19,#H25{ width: 8.75vh;}
/*TwoFingers*/
#H11,#H12,#H14,#H15,#H20,#H21,#H23,#H24{ width: 18.75vh;}
/*Big*/
#H9,#H17,#H18,#H26{width: 25vh; }
/*FiveFingers*/
#H13,#H22{ width: 25vh;}
/*Images*/
#Img1,#Img2,#Img5,#Img6{position: relative;width: 80%}
#Img3,#Img4{position: relative;width: 100%;right: 50%;height:80%;}
#Img7,#Img8{position: relative;right: 50%;}
#Img9,#Img10,#Img11,#Img12,#Img13,#Img21,#img19,#Img20,#Img21{position: relative;}
#Img9{position: relative;left:10%;}
#Img10{position: relative;width:90%;left:15%;}
#Img11{position: relative;width:80%;}
#Img12{position: relative;width:80%;right:15%;}
#Img14{position: relative;width:80%;left:15%;}
#Img15{position: relative;width:80%;}
#Img16{position: relative;width:90%;right:30%;}
#Img17{position: relative;right:15%;}
#Img18{position: relative;left:20%;}
#Img19{position: relative;width:90%;left:45%;}
#Img20{position: relative;width:80%;left:10%;}
#Img21{position: relative;width:80%;right:10%;}
#Img23{position: relative;width:80%;left : 10%;}
#Img24{position: relative;width:80%;right : 10%;}
#Img25{position: relative;width:90%;right : 45%;}
#Img26{position: relative;right:20%;}
#Img18,#Img19,#Img20,#Img21,#Img22,#Img23,#Img23,#Img24,#Img25,#Img26{position: relative;top: 30%;}

#Air{grid-area: Air;height: 6vh;}
#H1  {grid-area: H1;}
#H2  {grid-area: H2;}
#H3  {grid-area: H3;}
#H4  {grid-area: H4;}
#H5  {grid-area: H5;}
#H6  {grid-area: H6;}
#H7  {grid-area: H7;}
#H8  {grid-area: H8;}
#H9  {grid-area: H9;}
#H10 {grid-area: H10;}
#H11 {grid-area: H11;}
#H12 {grid-area: H12;}
#H13 {grid-area: H13;}
#H14 {grid-area: H14;}
#H15 {grid-area: H15;}
#H16 {grid-area: H16;}
#H17 {grid-area: H17;}
#H18 {grid-area: H18;}
#H19 {grid-area: H19;}
#H20 {grid-area: H20;}
#H21 {grid-area: H21;}
#H22 {grid-area: H22;}
#H23 {grid-area: H23;}
#H24 {grid-area: H24;}
#H25 {grid-area: H25;}
#H26 {grid-area: H26;}



